@model MemberMovieVM


<h5><span class="text-danger">@TempData["message"]</span></h5>

<div class="row">
    <div class="col-md-3">

        <section class="panel">
            <header class="panel-heading">
                Genres
            </header>
            <div class="panel-body">
                <ul class="nav prod-cat">
                    <li style="padding-top:30px">
                        <a asp-controller="Member" asp-action="Index" class="btn btn-primary">All Genres</a>
                    </li>
                    @foreach (GenreVM item in Model.Genres)
                    {
                        
                        <li style="padding-top:30px">

                            <a asp-controller="Member" asp-action="Index" asp-route-genreID="@item.ID" class="btn btn-primary">@item.GenreName</a>


                        </li>
                    }
                </ul>
            </div>
        </section>

    </div>
    <div class="col-md-9">
        <section class="panel">
            <div class="panel-body">


                <div class="pull-right">
                    <ul class="pagination pagination-sm pro-page-list">


                        @if (TempData["genreID"] != null)
                        {
                            <li> @Html.PagedListPager(Model.Movies, page => Url.Action("Index", new { page, genreID = TempData["genreID"] }))     </li>
                        }
                        else
                        {
                            <li>
                                @Html.PagedListPager(Model.Movies, page => Url.Action("Index", new { page }))
                            </li>
                        }




                    </ul>
                </div>
            </div>
        </section>

        <div class="row product-list">

            @foreach (MovieVM item in Model.Movies)
            {

                <div class="col-md-4">
                    <section class="panel">
                        <div class="pro-img-box" width="60px" height="60px">
                            <img src="@item.ImagePath" alt="" />
                            <a asp-action="AddToMovie" asp-route-id="@item.ID" class="adtocart">
                                <i class="icon-shopping-cart"></i>
                            </a>
                        </div>

                        <div class="panel-body text-center">
                            <h4>
                                <a href="#" class="pro-title" title="@item.MovieName">
                                    @item.MovieName
                                </a>
                            </h4>

                        </div>
                    </section>
                </div>
            }



        </div>
    </div>
</div>

@if (User.Identity.IsAuthenticated)
{
    @section Sepet {
    <li>
        <a asp-controller="Member" asp-action="MovieListPage"> <i class="icon-shopping-cart"></i> MovieList  </a>
    </li>
    }
}
