@model MovieList



<div class="jumbotron">
   Movie Count => @Model.MovieTotal </a>
</div>

<div class="row product-list">

    @foreach (MovieItem item in Model.GetMovieItems)
    {

 
        <div class="col-md-4">
            <section class="panel">
                <div class="pro-img-box" width="60px" height="60px">
                    <a href="@Url.Action("MovieDetails", "Member", new { id = item.ID })">
                        <img src="@item.ImagePath" alt="@item.MovieName" />
                    </a>
                    
                </div>

                <div class="panel-body text-center">
                    <h4>
                        <a href="@Url.Action("MovieDetails", "Member", new { id = item.ID })" class="pro-title" title="@item.MovieName">
                            @item.MovieName
                        </a>
                    </h4>
                </div>

                <a asp-action="DeleteFromMovieList" asp-route-id="@item.ID" class="adtocart">
                    <i class="glyphicon glyphicon-remove"></i>
                </a>

            </section>
        </div>

    }



</div>