@model MovieList



<div class="jumbotron">
   Movie Count => @Model.MovieTotal </a>
</div>

<div class="row product-list">

    @foreach (MovieItem item in Model.GetMovieItems)
    {

        <div class="col-md-4">
            <section class="panel">
                <div class="pro-img-box">
                    
                        <img src="@item.ImagePath" alt="" />
                    <div class="panel-body text-center">
                        <h4>
                            <a href="#" class="pro-title" title="@item.MovieName">
                                @item.MovieName
                            </a>
                        </h4>

                    </div>
                   

                    <a asp-action="DeleteFromMovieList" asp-route-id="@item.ID" class="adtocart">
                        <i class="glyphicon glyphicon-remove"></i>
                    </a>


                   
                </div>

                
            </section>
        </div>
    }



</div>