@model WatchListVM

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watchlist</title>
    <link rel="stylesheet" href="/path/to/your/bootstrap.min.css">
    <style>
        body {
            background-color: #f0f0f0;
            padding: 20px;
        }

        .movie-item {
            border: 1px solid #ddd;
            padding: 15px;
            margin-bottom: 10px;
            background-color: #fff;
        }

        .movie-title {
            font-size: 1.2em;
            font-weight: bold;
        }

        .remove-btn {
            color: red;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1>Your Watchlist</h1>
    <div class="movie-list">

<div class="row product-list">

    @foreach (MovieVM item in Model.Movies)
    {

 
        <div class="col-md-4">
            <section class="panel">
                <div class="pro-img-box" width="60px" height="60px">
                    <a href="@Url.Action("MovieDetails", "Member", new { id = item.ID })">
                        <img src="@item.ImagePath" alt="@item.MovieName" />
                    </a>
                    
                </div>

                <div class="panel-body text-center">
                    <h4>
                        <a href="@Url.Action("MovieDetails", "Member", new { id = item.ID })" class="pro-title" title="@item.MovieName">
                            @item.MovieName
                        </a>
                    </h4>
                </div>
                       
                        
                           <div>
                            <a asp-action="DeleteFromMovieList" asp-route-id="@item.ID" class="adtocart">
                                <i class="glyphicon glyphicon-remove"></i>
                            </a>

                           </div>
                    

            </section>
        </div>

    }

</div>
</body>
</html>