@model MovieDetailsVM


<link href="/OuterTools/css/bootstrap.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="@Model.Movie.ImagePath" alt="@Model.Movie.MovieName" class="img-fluid" />
        </div>
        <div class="col-md-8">
            <h1>@Model.Movie.MovieName</h1>
            <h3>Details</h3>
            <p>@Model.Movie.Description</p>
        
        </div>
        <div class="col-md-4">
            <video width="250%" controls>
                <source src="@Model.Movie.VideoPath" type="video/mp4">
                
            </video>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <h3>Cast</h3>
            <div class="cast-container">
                @foreach (var item in Model.Casts)
                {
                    <div class="cast-member">
                        <a href="@Url.Action("CastDetails", "Member", new { id = item.ID })">
                            <img src="@item.ImagePath" alt="@item.FirstName @item.LastName" class="cast-img" />
                        </a>
                        <p>
                            <a href="@Url.Action("CastDetails", "Member", new { id = item.ID })">
                                @item.FirstName @item.LastName
                            </a>
                        </p>
                    </div>
                }
               
            </div>
        </div>
    </div>
</div>


<style>
    .img-fluid {
        max-width: 100%;
        height: auto;
    }

    .cast-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
    }

    .cast-member {
        margin: 10px;
        text-align: center;
        width: 150px; 
    }

    .cast-img {
        max-width: 100px;
        height: auto;
        border-radius: 50%;
    }

    .cast-member p {
        margin-top: 5px;
        margin-bottom: 0;
    }

    .comment {
        border-bottom: 1px solid #ccc;
        padding: 10px 0;
    }

        .comment strong {
            display: block;
            margin-bottom: 5px;
        }
</style>
