wa<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="/OuterTools/img/favicon.png">

    <title>Moviest</title>

    <!-- Bootstrap core CSS -->
    <link href="/OuterTools/css/bootstrap.min.css" rel="stylesheet">
    <link href="/OuterTools/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="/OuterTools/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="/OuterTools/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen" />
    <link rel="stylesheet" href="/OuterTools/css/owl.carousel.css" type="text/css">
    <!-- Custom styles for this template -->
    <link href="/OuterTools/css/style.css" rel="stylesheet">
    <link href="/OuterTools/css/style-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->


</head>

<body>

    <section id="container">
        <!--header start-->
        <header class="header white-bg">
            

            <!DOCTYPE html>
            <html lang="en">
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="stylesheet" href="/OuterTools/css/bootstrap.min.css">
                <style>
                    .top-menu {
                        display: flex;
                        align-items: center;
                    }

                        .top-menu li {
                            list-style: none;
                            margin-right: 15px;
                        }

                        .top-menu .btn-success a {
                            color: white;
                            text-decoration: none;
                        }

                    .top-nav {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        background-color: #343a40;
                        padding: 5px 20px; 
                    }

                        .top-nav .nav {
                            display: flex;
                            align-items: center;
                        }

                            .top-nav .nav li {
                                list-style: none;
                                margin-right: 15px;
                            }

                        .top-nav .search {
                            margin-right: 20px;
                            display: flex; 
                            align-items: center;
                        }

                        .top-nav .dropdown-menu {
                            right: 0;
                            left: auto;
                        }

                    .dropdown-toggle img {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                    }

                    .dropdown-toggle .username {
                        margin-left: 10px;
                        color: white;
                    }

                    .navbar {
                        background-color: #343a40;
                        padding: 10px;
                    }

                        .navbar a {
                            color: white;
                            margin-right: 15px;
                            text-decoration: none;
                        }

                    .watchlist-icon {
                        color: white;
                    }
                    .form-inline input[type="search"] {
                        border-radius: 15px;
                        padding: 5px 10px;
                        border: none;
                        margin-right: 5px; 
                    }

                    .form-inline .btn-success {
                        border-radius: 15px;
                        padding: 5px 15px;
                        border: none;
                        margin-right: 15px; 
                    }

                        .form-inline .btn-success a {
                            color: white;
                            text-decoration: none;
                        }
                </style>
            </head>
            <body>
                <div class="top-nav">
                    <!-- Logo -->
                    <a href="@Url.Action("Index", "Member")" class="logo">MOVIE<span>ST</span></a>

                    <nav class="navbar">
                        <div class="container">                            
                            <div class="ml-auto">
                                <a href="@Url.Action("MovieListPage", "Member")" class="btn btn-success">
                                    <i class="fas fa-bookmark"></i> Watchlist
                                </a>
                            </div>
                        </div>
                    </nav>
                    <!--search & user info start-->
                    <ul class="nav top-menu">
                        <!-- Search -->
                        <form asp-controller="Member" asp-action="Search" method="get" class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="model">
                            <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
                        </form>

                        <!-- Register Button -->
                        <li>
                            <button class="btn btn-success"><a asp-controller="Home" asp-action="Register">Register</a></button>
                        </li>

                        <!-- user login dropdown start-->
                        @{
                            if (User.Identity.IsAuthenticated)
                            {
                                <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                        <img alt="" src="/OuterTools/img/avatar1_small.jpg">
                                        <span class="username">@User.Identity.Name</span>
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu extended logout">
                                        <div class="log-arrow-up"></div>
                                        @RenderSection("Sepet", false)
                                        <li><a asp-controller="Home" asp-action="SignOut"><i class="icon-key"></i> Log Out</a></li>
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <button class="btn btn-success"><a asp-controller="Home" asp-action="SignIn">Sign-In</a></button>
                                </li>
                                <li>
                                    @RenderSection("Sepet", false)
                                </li>
                            }
                        }
                        <!-- user login dropdown end -->
                    </ul>
                    <!--search & user info end-->
                </div>

                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
            </body>
        </html>

                    <!-- user login dropdown end -->
                </ul>
                <!--search & user info end-->
            </div>
        </header>

        <!--header end-->
        <!--sidebar start-->
        
        <!--sidebar end-->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                @RenderBody()

            </section>
        </section>
        <!--main content end-->
        <!--footer start-->
        <!--footer end-->
    </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="/OuterTools/js/jquery.js"></script>
    <script src="/OuterTools/js/jquery-1.8.3.min.js"></script>
    <script src="/OuterTools/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="/OuterTools/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="/OuterTools/js/jquery.scrollTo.min.js"></script>
    <script src="/OuterTools/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="/OuterTools/js/jquery.sparkline.js" type="text/javascript"></script>
    <script src="/OuterTools/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
    <script src="/OuterTools/js/owl.carousel.js"></script>
    <script src="/OuterTools/js/jquery.customSelect.min.js"></script>
    <script src="/OuterTools/js/respond.min.js"></script>

    <script class="include" type="text/javascript" src="/OuterTools/js/jquery.dcjqaccordion.2.7.js"></script>

    <!--common script for all pages-->
    <script src="/OuterTools/js/common-scripts.js"></script>

    <!--script for this page-->
    <script src="/OuterTools/js/sparkline-chart.js"></script>
    <script src="/OuterTools/js/easy-pie-chart.js"></script>
    <script src="/OuterTools/js/count.js"></script>

    <script>

        //owl carousel

        $(document).ready(function () {
            $("#owl-demo").owlCarousel({
                navigation: true,
                slideSpeed: 300,
                paginationSpeed: 400,
                singleItem: true,
                autoPlay: true

            });
        });

        //custom select box

        $(function () {
            $('select.styled').customSelect();
        });

    </script>

</body>
</html>
